<div class='row'>
  <div class='large-12 columns'>
     <h2>Add New Contact</h2>
        <form  (submit)="addBusiness($event,company.value,category.value,years_in_business.value,
                                     description.value, phone.value,email.value,street_address.value,
                                     city.value,state.value, zipcode.value)" action='routerLink="/"' method='POST'>
          <div class="row">
            <div class="medium-6 columns">
              <label>Company
                  <input type="text" placeholder="Company name" #company>
                </label>
                </div>
                <div class="medium-6 columns">
                <label>Category
                  <input type="text" placeholder="category name" #category>
              </label>
            </div>
          </div>
           <div class="row">
            <div class="medium-6 columns">
              <label>Years in business
                  <input type="text" placeholder="Years in business" #years_in_business>
                </label>
                </div>
                <div class="medium-6 columns">
                <label>description
                  <input type="text" placeholder="description" #description>
              </label>
            </div>
          </div>
           <div class="row">
            <div class="medium-6 columns">
              <label>Phone
                  <input type="text" placeholder="Phone" #phone>
                </label>
                </div>
                <div class="medium-6 columns">
                <label>Email
                  <input type="text" placeholder="email" #email>
              </label>
            </div>
          </div>
           <div class="row">
            <div class="medium-6 columns">
              <label>Street Address
                  <input type="text" placeholder="street_address" #street_address>
                </label>
                </div>
                <div class="medium-6 columns">
                <label>City
                  <input type="text" placeholder="city" #city>
              </label>
            </div>
          </div>
           <div class="row">
            <div class="medium-6 columns">
              <label>State
                  <input type="text" placeholder="State" #state>
                </label>
                </div>
                <div class="medium-6 columns">
                <label>zipcode
                  <input type="text" placeholder="zipcode" #zipcode>
              </label>
            </div>
          </div>
          <input class='button primary' type='submit' value='submit'>
          <button routerLink='/' class='button primary'>back</button>
        </form>
  </div>
</div>
