<div class='row'>
   <div class='large-6 columns'>
    <a routerLink='/addbusiness'><button class='button primary'>Add Business</button></a>    
   </div>
   <div class='large-6 columns'>
     <label>Filter category
        <select (change)="filterCategory($event.target.value)" #filteredCategory>
          <option value="0">Select</option>
          <option value={{category.category}} *ngFor='let category of categories; let i = index'>{{category.category}}</option>
        </select>
     </label>
   </div>
 </div>

  <!--edit form-->
  <div class='row' *ngIf = "appState == 'edited'">
    <div class='large-12 columns'>
  <form  (submit)="updateBusiness()" >
          <div class="row">
            <div class="medium-6 columns">
              <label>Company
                  <input type="text" placeholder="Company name" [(ngModel)]='activeCompany' name='activeCompany'>
                </label>
                </div>
                <div class="medium-6 columns">
                <label>Category
                  <input type="text" placeholder="category name" [(ngModel)]='activeCategory' name='activeCategory'>
              </label>
            </div>
          </div>
           <div class="row">
            <div class="medium-6 columns">
              <label>Years in business
                  <input type="text" placeholder="Years in business" [(ngModel)]='activeYears_in_business' name='activeYears_in_business'>
                </label>
                </div>
                <div class="medium-6 columns">
                <label>description
                  <input type="text" placeholder="description" [(ngModel)]='activeDescription' name='activeDescription'>
              </label>
            </div>
          </div>
           <div class="row">
            <div class="medium-6 columns">
              <label>Phone
                  <input type="text" placeholder="Phone" [(ngModel)]='activePhone' name='activePhone'>
                </label>
                </div>
                <div class="medium-6 columns">
                <label>Email
                  <input type="text" placeholder="email" [(ngModel)]='activeEmail' name='activeEmail'>
              </label>
            </div>
          </div>
           <div class="row">
            <div class="medium-6 columns">
              <label>Street Address
                  <input type="text" placeholder="street_address" [(ngModel)]='activeStreet_address'  name='activeStreet_address'>
                </label>
                </div>
                <div class="medium-6 columns">
                <label>City
                  <input type="text" placeholder="city" [(ngModel)]='activeCity' name='activeCity'>
              </label>
            </div>
          </div>
           <div class="row">
            <div class="medium-6 columns">
              <label>State
                  <input type="text" placeholder="State" [(ngModel)]='activeState' name='activeState'>
                </label>
                </div>
                <div class="medium-6 columns">
                <label>zipcode
                  <input type="text" placeholder="zipcode" [(ngModel)]='activeZipcode' name='activeZipcode'>
              </label>
            </div>
          </div>
          <input class='button primary' type='submit' value='submit'>
        </form>
    </div>
  </div>  <!--form edit ends -->

 <div *ngIf = "appState == 'extend'"> 
        <div class='row'>
           <div class='large-3 columns'>
              <button class='button alert'(click)="changeState('default')">go back</button>
           </div>
        </div> 
      <div class='row'>
                  <div *ngFor='let business of businesses'>
                    <div *ngIf = 'activeKey == business.$key'>
                      <div class='large-6 columns'>
                        <h3>{{business.company}}</h3>
                          <ul>
                            <li>{{business.description}}</li>
                            <li>{{business.category}}</li>
                            <li>{{business.street_address}}</li>
                          </ul>
                      </div>
                      <div class='large-6 columns'>
                          <h3>Contacts</h3>
                           <ul>
                             <li>{{business.years_in_business}}</li>
                             <li>{{business.city}}</li>
                             <li>{{business.state}}</li>
                             <li>{{business.zipcode}}</li> 
                             <li>{{business.phone}}</li>
                             <li>{{business.email}}</li>
                           </ul>
                      </div>
                    </div>  
                  </div>  
   </div>
</div>


<div class='row'>
  <div class='large-12 columns'>
    <div *ngIf ='businesses'>
      <table>
      <thead>
        <tr>
          <th>Company</th>
          <th>Category</th>
          <th>Phone</th>
        </tr>  
      </thead>  
      <tbody>
        <tr  *ngFor='let business of  businesses'>
          <td>{{business.company}}</td>
          <td>{{business.category}}</td>
          <td>{{business.phone}}</td>
          <td>
            <button  (click)="changeState('extend', business.$key)" class='button success'>More</button>

            <button (click)="editState('edited', business)" class='button warning' >Edit</button>

            <button class='button alert'>delete</button>  
          </td>  
        </tr>  
      </tbody>  
    </table> 
    </div>   
  </div>
</div>  
